packaging==19.2
requests==2.19.1
urllib3==1.25.6
selectolax
regex
pymongo
urllib3==1.25.6
progressbar
tqdm
httpserver==1.1.0
progress
python-magic
lief
sklearn
keras==2.1.5
matplotlib
seaborn
pandas
tensorflow==1.5
numpy
h5py
redis
rejson
pydot
graphviz
